*, *::before, *::after {
  box-sizing: border-box;
}

html{
    font-size: 16px;
}

html:focus-within {
  scroll-behavior: smooth;
}

section {
  background-color: rgba(255, 255, 255, 0.8) ;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

a {
  color: rgb(21, 21, 117);
  text-decoration: none;
}

a:hover, 
a:visited, 
a:active{
  color: rgb(72, 16, 100);
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

img{
    width: 100%;
    height:auto;
}

header{
    width: 100%;
    background-color: goldenrod;
}

header nav{
text-align: center;
  padding: 1.5rem 0;
  max-width: 950px;
  margin: 0 auto;
}

header h1{
    font-size:4vw;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items:center
}

header nav ul li{
    font-size:1.5vw;
}

main{
  background: url(https://img.freepik.com/free-vector/linear-flat-abstract-lines-pattern_23-2148940824.jpg?w=996&t=st=1679706428~exp=1679707028~hmac=26526d39c88496497ae5fbf16d084b72798556ca40f29d05c0ef64a096082e11) repeat;
  max-width: 950px;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

main h2{
  font-size: 2.5vw;
}

#votingTracker{
    display: flex;
    flex-direction: column;
    align-items: center
}

#votingTracker h2{
    text-decoration: underline;
}

#productImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    /* width: 75%; */
    margin: 0 auto;
}

#productImages .container {
    padding: 5px;
    border: 10px solid rgba(186, 186, 186, 0.413);
    border-radius: 3px;
    transition: all 350ms;;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#productImages .container .productName{
    font-size: 1.15vw;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

#productImages .container img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

#productImages .container:hover{
    border: 10px solid rgba(0, 0, 0, 1);
}

#productImages .container:hover img{
    transform: scale(0.90);
}

#showResultBtn{
  text-align: start; 
  margin-bottom: 20px;
}

#canvas{
  border: 1px solid black;
}

#resultsContainer{
    display: none;
    grid-template-columns:  1fr 1fr;
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 10px;
  }

td:first-child{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

footer{
  position: sticky;
  text-align: center;
  padding: 1.2rem 0;
  background-color: goldenrod;
  bottom: 0;
}